.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.auth-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}

.auth-box button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-box p {
  margin-top: 10px;
  color: blue;
  cursor: pointer;
}